[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "leem"]
	path = leem
	url = https://github.com/bendeivide/leem
	shallow = true
	registered = true
[submodule "midrangeMCP"]
	path = midrangeMCP
	url = https://github.com/bendeivide/midrangemcp
	shallow = true
	registered = true
[submodule "SMR"]
	path = SMR
	url = https://github.com/bendeivide/smr
	shallow = true
	registered = true
